		<table width="100%" align="middle" style="min-height: 500px;">
			<tr>
				<td width="100%" align="center"><button class="btn btn-large btn-default" {{action 'startTest'}}>Start the test >></button></td>
			</tr>
		</table>