<div class="container-fluid height-500">
    <table class=""width="100%" height="500px;">
		<tr>
		<td align="left" width="30%"  class="valign-top">
			<img src="assets/images/exam.jpg" style="padding: 10px 0px 10px 10px;width: 250px;"/>		
		</td>
		<td align="left" class="valign-top">
			<div class="margin-20">
				<p>
					Mockcheck.com is committed in helping you preapare for the real challenge of <b>Banking Clerical</b> (common written) examinations.
					Currently we have practice tests available for following subjects:
					<ul>
					 	<li>General Awareness</li>
						<li>English Language</li>
						<li>Reasoning</li>
						<li>Quantitative Aptitude</li>
						<li>Computer & Marketing Knowledge</li>
					</ul>
				</p>
			</div>
		</td>
		</tr>
	</table>
 	</div>