	<div class="container-fluid">
		<table class="width_100per">
		<tr>
			<td class="valign-top">
      			<div class="status-info-panel height-400 sidebar">
            		<table class="width_100per">
						<tr>
							{{outlet}}
						</tr>
					</table>
        		</div>
			</td>
		</tr>
		</table>
    </div>