    <div class='about'>
    <table align="center" width="100%" height="500px;">
		<tr>
		<td align="left" width="30%">
			<img style="padding: 10px 0px 10px 10px;" src="assets/images/exam.jpg" />
		</td>
		<td align="left">		
			<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comming Soon!!!</h4>
		</td>
		</tr>
	</table>
    </div>